<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="CodeGenerator" type="CodeGenerator.Configuration.ConfSection, CodeGeneratorConfiguration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  
  <CodeGenerator>
    <Configurations>
      <add ConfName="HomeTest"
          SoureConnString="Data Source=ROBERTO-PC\SQLEXPRESS;Initial Catalog=AdventureWorks2012;Persist Security Info=True;User ID=sa;Password=aaa111"
          SourceType="Sql"
          TemplateDir="D:\WorkShop\GitHub\CodeGenerator\TemplateDir\"
          OutputDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\"
          OutputOverCast ="true"
          OutputFileNamePattern="@(Model.Table.Name + &quot;.cs&quot;)"
          OutputCodeNameSpacePattern="Model"
          OutputOperationSplite="false"
          OutputOperationDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\"
          OutputOperationFileNamePattern="@(Model.Table.Name + &quot;DAL.cs&quot;)"
          OutputOperationCodeNameSpacePattern="DAL" />

      <add ConfName="SEP"
          SoureConnString="Data Source=172.17.1.32;Initial Catalog=SEP;Persist Security Info=True;User ID=sa;Password=1"
          SourceType="Sql"
          TemplateDir="D:\WorkShop\GitHub\CodeGenerator\TemplateDir\Sql"
          OutputDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\Model\"
          OutputOverCast ="true"
          OutputFileNamePattern="@(Model.Table.Name + &quot;.cs&quot;)"
          OutputCodeNameSpacePattern="Model"
          OutputOperationSplite="true"
          OutputOperationDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\Dal\"
          OutputOperationFileNamePattern="@(Model.Table.Name + &quot;DAL.cs&quot;)"
          OutputOperationCodeNameSpacePattern="DAL" />
      
      <add ConfName="Test"
          SoureConnString="Data Source=.;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=sa;Password=aaa111"
          SourceType="Sql"
          TemplateDir="D:\WorkShop\GitHub\CodeGenerator\TemplateDir\Sql"
          OutputDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\"
          OutputOverCast ="true"
          OutputFileNamePattern="@(Model.Table.Name + &quot;.cs&quot;)"
          OutputCodeNameSpacePattern="Model"
          OutputOperationSplite="true"
          OutputOperationDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\"
          OutputOperationFileNamePattern="@(Model.Table.Name + &quot;DAL.cs&quot;)"
          OutputOperationCodeNameSpacePattern="DAL" />

      <add ConfName="OraTest"
          SoureConnString="Data Source=.;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=sa;Password=aaa111"
          SourceType="Oracle"
          TemplateDir="D:\WorkShop\GitHub\CodeGenerator\TemplateDir\Oracle"
          OutputDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\"
          OutputOverCast ="true"
          OutputFileNamePattern="@(Model.Table.Name + &quot;.cs&quot;)"
          OutputCodeNameSpacePattern="Model"
          OutputOperationSplite="true"
          OutputOperationDirPattern="D:\WorkShop\GitHub\CodeGenerator\OutputDir\"
          OutputOperationFileNamePattern="@(Model.Table.Name + &quot;DAL.cs&quot;)"
          OutputOperationCodeNameSpacePattern="DAL" />
      
    </Configurations>
  </CodeGenerator>
  <appSettings>
    <add key="ConfName" value="SEP"/>
  </appSettings>
</configuration>
